body {
    padding: 130px;
    font-family: monospace, Arial, Helvetica, sans-serif;
   
    background: linear-gradient(to right, #7caec9 0%, #814763 100%);
    text-align: center;
}

.btn {
    background: #4d8ab3;
    background-image: -webkit-linear-gradient(top, #4d8ab3, #a57bb5);
    background-image: -moz-linear-gradient(top, #4d8ab3, #a57bb5);
    background-image: -ms-linear-gradient(top, #4d8ab3, #a57bb5);
    background-image: -o-linear-gradient(top, #4d8ab3, #a57bb5);
    background-image: linear-gradient(to bottom, #4d8ab3, #a57bb5);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #a57bb5;
    background-image: -webkit-linear-gradient(top, #a57bb5, #4d8ab3);
    background-image: -moz-linear-gradient(top, #a57bb5, #4d8ab3);
    background-image: -ms-linear-gradient(top, #a57bb5, #4d8ab3);
    background-image: -o-linear-gradient(top, #a57bb5, #4d8ab3);
    background-image: linear-gradient(to bottom, #a57bb5, #4d8ab3);
    text-decoration: none;
  }

span{
    font-size: larger;
}

.h3 {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font: bold;
}

.left{
    text-align: center;
    float: left;
    margin-left: 5%
}

.right{
    text-align: center;
    float: right;
    margin-right: 10%;
}
